.nav-ul li{
  display: inline-block;
  padding: 10px;
}

.nav-ul {
  margin: 0;
  padding: 5px;
  background-color: skyblue;
}

.nav-ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.nav-right{
  text-align: right;
}

.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}

.register-box, .product{
  margin-left: 30%;
}

.login{
  margin-left: 30%;
  margin-top: 100px;
}

.input-box{
  display: block;
  width: 300px;
  padding: 7px;
  margin: 20px;
  border: 1px solid skyblue;
}

.signup-button{
  margin: 20px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  border: none;
  background-color: skyblue;
}

.logo{
  width: 45px;
  float: left;
  border-radius: 50%;
  margin-top: 3px;
  margin-left: 20px;
}

.invalid-input{
  color: red;
  top: -20px;
  position: relative;
  left: 20px;
}

.product-list{
  text-align: center;
  margin-top: 50px;
}

.product-list ul li {
  display: inline-block;
  border: 1px solid skyblue;
  padding: 5px;
  width: 150px;
}

.product-list ul {
  margin: 0;
}

.search-product-box{
  width: 400px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}